@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 45px;
}

.container {
  margin: 0 auto;
  max-width: 990px;
  width: 100%;
  padding: 0 10px;
}

.container-large {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px minmax(0, 1fr);
}
@media (max-width: 767px) {
  .container-large {
    display: block;
    margin: unset;
  }
}

.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.btn--big {
  padding: 12px 24px;
  background-image: linear-gradient(to top, rgba(47, 196, 238, 0.6), #2fc4ee);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 3px 2px 5px rgba(26, 26, 26, 0.6);
  box-shadow: 0px 3px 0px rgba(47, 196, 238, 0.3);
}
@media (max-width: 767px) {
  .btn--big {
    background-image: linear-gradient(180deg, #fe9f9f 0%, #ef3f40 50.52%, #fa4647 100%);
    box-shadow: 0px 4px 0px #c20e11;
  }
}
.btn--flat {
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #2fc4ee;
  border-radius: 10px;
}
.btn--install {
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b4b4f;
  box-shadow: 0px 0px 8px rgba(26, 26, 26, 0.08);
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  width: 100%;
}

.cards {
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
}

.card {
  flex-shrink: 0;
  width: 315px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(26, 26, 26, 0.08);
}
.card__photo {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 10px 0 0;
  display: block;
}
.card__body {
  padding: 16px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 10px 10px;
}
.card__avatar {
  height: 70px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.card__title {
  font-size: 14px;
  line-height: 22.5px;
  margin-bottom: 4px;
  color: #1a1a1a;
}
.card__statistic {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__description {
  font-size: 12px;
  line-height: 1.5;
  color: #4b4b4f;
}

.card-video {
  flex-shrink: 0;
  width: 315px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .card-video {
    width: 170px;
  }
}
.card-video__photo {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}
.card-video__title {
  font-size: 15px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .card-video__title {
    font-size: 14px;
  }
}

.menu-input {
  display: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -2;
  opacity: 0;
}
@media (max-width: 767px) {
  .menu-input {
    display: block;
  }
  .menu-input:checked ~ .nav-left {
    transform: translateX(0);
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 24px;
  left: 15px;
  z-index: 2;
}
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-close {
  display: none;
  position: absolute;
  top: 10px;
  left: 200px;
  z-index: 4;
}
@media (max-width: 767px) {
  .mobile-close {
    display: block;
  }
}

.header-mobile {
  display: none;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile .logo {
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}
.header-mobile__nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.header-mobile__nav__link {
  font-size: 14px;
  line-height: 1.5;
  color: #bbc0c6;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-mobile__nav__link svg {
  fill: #bbc0c6;
}

.nav-left {
  padding-top: 20px;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  background-color: #fdfdfd;
  width: 250px;
}
@media (max-width: 767px) {
  .nav-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
  }
}
.nav-left .logo {
  margin-left: 25px;
  margin-bottom: 48px;
}
.nav-left__footer {
  padding: 24px 20px;
}
@media (max-width: 767px) {
  .nav-left__footer {
    display: none;
  }
}
.nav-left__footer__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 24px;
}
.nav-left__footer__icon {
  display: flex;
  gap: 8px;
}
.nav-left__footer__icon__link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(26, 26, 26, 0.08);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s linear;
}
.nav-left__footer__icon__link:hover {
  background-color: #b1e6f5;
}
.nav-left__footer__select {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-left__footer__select span {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #4b4b4f;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav__link {
  padding: 0 25px;
  height: 75px;
  display: grid;
  grid-template-columns: 40px 1fr 10px;
  align-items: center;
  gap: 10px;
  background-color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #1a1a1a;
  transition: background-color 0.2s linear;
}
.nav__link:hover {
  background-color: #b1e6f5;
}
.nav__link__icon {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link__icon svg {
  fill: #fff;
}
.nav__link__icon--game {
  background-color: #2fc4ee;
}
.nav__link__icon--learn {
  background-color: #f4d156;
}
.nav__link__icon--enjoy {
  background-color: #ba7bd5;
}
.nav__link__icon--fitness {
  background-color: #67c95d;
}
.nav__link:nth-of-type(even) {
  background-color: #fdfdfd;
}
.nav__link:nth-of-type(even):hover {
  background-color: #b1e6f5;
}

.footer {
  margin-top: 20px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer__logo {
  height: 36px;
}
.footer__terms {
  word-spacing: 10px;
}
.footer__social {
  display: flex;
  gap: 10px;
}
.footer__social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.08);
  transition: background-color 0.2s linear;
}
.footer__social__link:hover {
  background-color: #2fc4ee;
}
.footer__text {
  color: #4b4b4f;
  font-size: 14px;
  line-height: 1.5;
}

.section__title {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
}
.section__title:hover {
  text-decoration: underline;
}
.section__title span {
  margin-right: 5px;
}
.section__title--play {
  color: #2fc4ee;
}
.section__title--play .arrow,
.section__title--play .game-icon {
  fill: #2fc4ee;
}
.section__title--learn {
  color: #f4d156;
}
.section__title--learn .arrow,
.section__title--learn .learn-icon {
  fill: #f4d156;
}
.section__title--enjoy {
  color: #ba7bd5;
}
.section__title--enjoy .arrow,
.section__title--enjoy .enjoy-icon {
  fill: #ba7bd5;
}
.section__title--fitness {
  color: #67c95d;
}
.section__title--fitness .arrow,
.section__title--fitness .fitness-icon {
  fill: #67c95d;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}
.section__subtitle {
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
}
.section__more-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
}
.section__more-link .arrow {
  fill: #1a1a1a;
}
.section__more-link:hover {
  text-decoration: underline;
}

.intro {
  margin-bottom: 24px;
}
.intro__banner {
  margin-bottom: 24px;
  padding: 24px 32px;
  height: 365px;
  background-image: url("../assets/images/playfrozen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .intro__banner {
    margin-bottom: 20px;
    height: 275px;
    padding: 20px 15px;
    background-image: url("../assets/images/spiderman.jpg");
  }
}
.intro__banner .disney-part__photo {
  display: block;
  height: 25px;
  margin-bottom: 5px;
}
.intro__banner__title {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 767px) {
  .intro__banner__title {
    margin: 10px 0;
  }
}
.intro__title {
  color: #1a1a1a;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .intro__title {
    text-align: left;
  }
}
.intro__subtitle {
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.01em;
}
@media (max-width: 767px) {
  .intro__subtitle {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */