*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light;
  font-family: "Poppins", sans-serif;
}

// Logo
.logo {
  height: 45px;
}
